
<div class="admin-container">
    <h2>All Registered Service Providers</h2>
  
    <div class="admin-header">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search by city or profession" />
        <button (click)="searchProviders()">🔍</button>
      </div>
    </div>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>City</th>
          <th>Description</th>
          <th>Profession</th>
          <th>Photo</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providers">
          <td>{{ provider.name }}</td>
          <td>{{ provider.contactNo }}</td>
          <td>{{ provider.address }}</td>
          <td>{{ provider.city }}</td>
          <td>{{ provider.description }}</td>
          <td>
            <span *ngFor="let prof of provider.professions; let isLast=last">
              {{ prof.name }}<span *ngIf="!isLast">, </span>
            </span>
          </td>
          <td>
            <img *ngIf="provider.photoPath" [src]="'http://localhost:8080/api/providers/photos/' + provider.photoPath"
                 alt="Provider Photo" width="50" height="50">
          </td>
          <td>
            <div class="action-buttons">
            <button (click)="editProvider(provider)">Edit</button>
            <button (click)="deleteProvider(provider.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer-pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 0">← Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">Next →</button>
    </div>
  </div>